{% load static %}
<!-- Main Footer -->
<footer class="main-footer sp-two">
    <div class="auto-container">
        <!--Widgets Section-->
        
    </div>        
    <!-- Footer Bottom -->
    <div class="auto-container">
        <div class="footer-bottom">
            <div class="row m-0 justify-content-between">
                <ul class="menu">
                    <li><a href="index.html#">Privacy Policy </a></li>
                    <li><a href="index.html#">Terms & Conditions</a></li>
                </ul>
                <!--Scroll to top Two-->
                <div class="scroll-to-top-two scroll-to-target" data-target="html"><i class="fas fa-home"></i>Get back to home</div>
            </div>
            <ul class="social-links clearfix">
                <li><a href="https://www.facebook.com/ASTRA-CPA-106352631260891/"><span class="fab fa-facebook-f"></span></a></li>
                <li><a href="https://instagram.com/astra_cpa?igshid=24ljcprel10j"><span class="fab fa-instagram"></span></a></li>
            </ul>
            <div class="copyright">© 2020 <a href="index.html#">Astra SOLUTIONS</a> .All Rights Reserved.</div>
        </div>
    </div>
</footer>